body{
  background-color: #f8f8f8;
}
.navbar-default{
  background-color: #22884F;
  border:none;
  box-shadow: 1px 2px 10px;
  font-size: 13px;

  .navbar-brand{
    color: white;
    font-weight: bold;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
  }
  .navbar-nav{
    li{
      a{
        color: white;
      }
    }
  }
}
