// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.slider-container{
  width: 100%;
  height: 400px;
  background-image: image-url("sliderimage.png");
  position:relative;
  top: 30px;

  .slider-inner{
    color: white;
    padding-top: 20px;

    h1,h2,h3,h4{
      font-size: 40px;
      font-family: 'Exo 2', sans-serif;
      font-weight: normal;
    }
  }
}
